<p id="notice"><%= notice %></p>

<h1>Locations</h1> 

<h3>Search by filter:</h3>
<%= form_tag(locations_path, method: :get) do %>
  <% Tag.pluck(:name).each do |x| %>
    <%= check_box_tag 'tags[]', x %>
    <%= h x %>
  <% end %>
  <%= submit_tag 'Submit' %>
<% end %>

<%= render 'locations/results' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.description %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
        <% location.tags.each do |x| %>
          <td><%= x.name %></td>
        <% end %>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<div id="sidebar-container"></div>

<%= link_to 'New Location', new_location_path %>

<script type="text/javascript">

 $(document).ready(function(){
    var raw_markers = <%=raw @hash.to_json %>
    function createSidebarLi(json){
      return json.sidebar;
    };
    
    // function createSidebarLi(json){
    //   return ("<li><a>" + json.category + "</a></li>");
    // };
    
    function bindLiToMarker($li, marker){
      $li.on('click', function(){
        handler.getMap().setZoom(14);
        marker.setMap(handler.getMap()); //because clusterer removes map property from marker
        marker.panTo();
        google.maps.event.trigger(marker.getServiceObject(), 'click');
      })
    };
    
    function createSidebar(json_array){
      _.each(json_array, function(json){
        var $li = $( createSidebarLi(json) );
        $li.appendTo('#sidebar-container');
        bindLiToMarker($li, json.marker);
      });
    };
    
    handler = Gmaps.build('Google');
    handler.buildMap({ 
      provider: { 
        maxZoom: 15,
        center: new google.maps.LatLng(3.139003, 101.686855),
        styles: [{"featureType":"landscape.man_made","elementType":"geometry","stylers":[{"color":"#f7f1df"}]},{"featureType":"landscape.natural","elementType":"geometry","stylers":[{"color":"#d0e3b4"}]},{"featureType":"landscape.natural.terrain","elementType":"geometry","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi.business","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.medical","elementType":"geometry","stylers":[{"color":"#fbd3da"}]},{"featureType":"poi.park","elementType":"geometry","stylers":[{"color":"#bde6ab"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"road","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ffe15f"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"color":"#efd151"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"color":"black"}]},{"featureType":"transit.station.airport","elementType":"geometry.fill","stylers":[{"color":"#cfb2db"}]},{"featureType":"water","elementType":"geometry","stylers":[{"color":"#a2daf2"}]}]


     }, internal: {id: 'map'}}, function(){
      var markers = handler.addMarkers(raw_markers);
    
      _.each(raw_markers, function(json, index){
        var marker = markers[index];
        json.marker = marker;
        // google.maps.event.addListener(marker.getServiceObject(), 'mouseover', function(){
        //   google.maps.event.trigger(marker.getServiceObject(), 'click');
        // });
      });
    
      createSidebar(raw_markers);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  });

 // $(document).ready(function(){
 //    var raw_markers = [
 //      { lat: 43, lng: 3.5, titre: 'titre1', address: 'address1', infowindow: 'infowindow1'},
 //      { lat: 45, lng: 4,   titre: 'titre2', address: 'address2', infowindow: 'infowindow2'},
 //      { lat: 47, lng: 3.5, titre: 'titre3', address: 'address3', infowindow: 'infowindow3'},
 //      { lat: 49, lng: 4,   titre: 'titre4', address: 'address4', infowindow: 'infowindow4'},
 //      { lat: 51, lng: 3.5, titre: 'titre5', address: 'address5', infowindow: 'infowindow5'}
 //    ];

 //    function createSidebarLi(json){
 //      return ("<li><a>" + json.titre + ' ' + json.address + "</a></li>");
 //    };
    
 //    function bindLiToMarker($li, marker){
 //      $li.on('click', function(){
 //        handler.getMap().setZoom(14);
 //        marker.setMap(handler.getMap()); //because clusterer removes map property from marker
 //        marker.panTo();
 //        google.maps.event.trigger(marker.getServiceObject(), 'click');
 //      })
 //    };
    
 //    function createSidebar(json_array){
 //      _.each(json_array, function(json){
 //        var $li = $( createSidebarLi(json) );
 //        $li.appendTo('#markers_list');
 //        bindLiToMarker($li, json.marker);
 //      });
 //    };
    
 //    handler = Gmaps.build('Google');
 //    handler.buildMap({ internal: {id: 'map'}}, function(){
 //      var markers = handler.addMarkers(raw_markers);
    
 //      _.each(raw_markers, function(json, index){
 //        var marker = markers[index];
 //        json.marker = marker;
 //        google.maps.event.addListener(marker.getServiceObject(), 'mouseover', function(){
 //          google.maps.event.trigger(marker.getServiceObject(), 'click');
 //        });
 //      });
    
 //      createSidebar(raw_markers);
 //      handler.bounds.extendWith(markers);
 //      handler.fitMapToBounds();
 //    });
 //  });







</script>


